
<section class="thirteen columns">
    <h1>Contact Information for ACA Summer School, May 14 - June 30, 2017</h1>
    <article>
        <header>
            <h1>ACA Summer School Website</h1>
        </header>
        <span>
            <a href="http://summerschool.cse.iitk.ac.in/">http://summerschool.cse.iitk.ac.in/</a>
        </span>
    </article>
    <article>
        <header>
    <h1>Email</h1>
        </header>
        <span>
            Email me if you have any doubts regarding the course <em>Data Structures and Algorithms</em>:-
            <br>
            <a href="mailto:aayushoj.cse.iitk.ac.in">aayushoj@cse.iitk.ac.in</a>
        </span>
        
    </article>
</section>
