<section class="thirteen columns">
    <h1>Internships</h1>
    <article>
        <header>
            <h1>Adobe Systems</h1>
            <span><address>Bangalore, India</address><time>May 2016 to July 2016</time></span>
        </header>
        <p><ul style="list-style-type:disc">
             <!--  <li>Implemented a client based query auto completion feature.</li>
              <li>Text data from a given set of documents was used to generate an n-gram model which in turn was used to make the suggestions (most probable query)</li>
              <li>Designed and implemented data structures for distributed storing of the n-gram model consuming minimal space</li>
              <li>Designed and implemented algorithms to download only the required data for current input (not the whole model) to quickly compute the suggestions in real time and display the top few suggestions having the highest relevance score</li>
              <li>Added support for previous words suggestions, spell corrections, search history, synonyms, stop words etc.</li> -->
              My project was on Detecting Creative Trends and personalised recommedation of trends for destickification and other uses. 


        </ul></p>
    </article>
    <article>
        <header>
            <h1>R.C. Bose Center for Cryptology and Security</h1>
            <span><address>Kolkata, India</address><time>May 2015 to July 2015</time></span>
        </header>
        <p>
            Studied various areas of cryptology and worked under Prof. Sourav Sen Gupta to try attacks over RSA using ideas from AKS and LLL.
              </p>
    </article>
    <!-- <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University of Glasgow, Glasgow, UK</address><time>2013 to 2014</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Student Start-up, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article> -->
</section>
