<section class="thirteen columns">
    <h1>Positions of Responsibilities</h1>
    <article>
        <header>
            <h1>Co-ordinator, Association of Computing Activities(ACA)</h1>
            <span><address>IIT Kanpur, India</address><time>August 2015 - August 2016</time></span>
        </header>
        <p>
            Organised League of Programmers lecture series and events such as Microsoft code.fun.do, Happy Hours, departmental freshers, departmental trip and departmental farewell.
        </p>
    </article>
    <article>
        <header>
            <h1>Academic Mentor, Counselling Service</h1>
            <span><address>IIT Kanpur, India</address><time>April 2014 - March 2015</time></span>
        </header>
        <p>
            Conducted classes, doubt clearing sessions and mentored academically weak students for the course Fundamentals of Computing.

        </p>
    </article>
    <article>
        <header>
            <h1>Secretary, Association of Computing Activities(ACA)</h1>
            <span><address>IIT Kanpur, India</address><time>August 2014 - August 2015</time></span>
        </header>
        <p>
            Worked in a team of 12 members for smooth conduction of various activities such as departmental fresher, Microsoft code.fun.do, happy hours and departmental farewell.

        </p>
    </article>
</section>