<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>Automatic summarization of functions</h1>
            <span><address>Undergraduate Project under Prof. Subhajit Roy</address><time>Aug 2016 - Current</time></span>
        </header>
        <p><ul style="list-style-type:disc">
             <!--  <li>Implemented a client based query auto completion feature.</li>
              <li>Text data from a given set of documents was used to generate an n-gram model which in turn was used to make the suggestions (most probable query)</li>
              <li>Designed and implemented data structures for distributed storing of the n-gram model consuming minimal space</li>
              <li>Designed and implemented algorithms to download only the required data for current input (not the whole model) to quickly compute the suggestions in real time and display the top few suggestions having the highest relevance score</li>
              <li>Added support for previous words suggestions, spell corrections, search history, synonyms, stop words etc.</li> -->
              I am working on an LLVM module which can automatically summarize functions of a program with respect to a specific instruction (for example free(ptr)). The summaries contain the information of just the path which is required for the execution of the given instruction in terms of parameters of the function and global variables. We are currently verifying the output of the module on various Coreutils programs.

        </ul></p>
    </article>
    <article>
        <header>
            <h1>Group File Sharing Application</h1>
            <span><address>Course Project in Software Engineering under Prof. TV Prabhakar</address><time>Aug 2016 - Current</time></span>
        </header>
        <p>
        I along with Devashish Yadav implemented an application using Flask which enables a group of people to share files among themselves. The application is based on peer to peer protocol where each client connected to the group is responsible for sending and receiving files and other important information such as active and inactive clients, shared file lists etc.
        <br>
        <a href="https://github.com/souravan/groupshare"><font color="blue">Github</font></a> || 
        <a href="static/doc/cs455projectreport.pdf"><font color="blue">Report</font></a> || 
        <a href="static/doc/CS455pres.pdf"><font color="blue">Presentation</font></a>
        </p>
    </article>
    <!-- <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University of Glasgow, Glasgow, UK</address><time>2013 to 2014</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Student Start-up, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article> -->
</section>
