<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>Adobe Systems</h1>
            <span><address>Noida, India</address><time>May 2016 to July 2016</time></span>
        </header>
        <p><ul style="list-style-type:disc">
             <!--  <li>Implemented a client based query auto completion feature.</li>
              <li>Text data from a given set of documents was used to generate an n-gram model which in turn was used to make the suggestions (most probable query)</li>
              <li>Designed and implemented data structures for distributed storing of the n-gram model consuming minimal space</li>
              <li>Designed and implemented algorithms to download only the required data for current input (not the whole model) to quickly compute the suggestions in real time and display the top few suggestions having the highest relevance score</li>
              <li>Added support for previous words suggestions, spell corrections, search history, synonyms, stop words etc.</li> -->
              My project was to implement a search query autocompletion feature for a website hosted on a static server. I used NLP techniques to build the feature. The main challenge was to make faster predictions by minimizing the size of data downloaded from the server. We designed and implemented a structure to distribute the model into various files based on words. The client side application was designed to download a minimal set of files to make predictions for a given query. Heuristics like predicting a word till the required files are downloaded improved the user-experience further.


        </ul></p>
    </article>
    <article>
        <header>
            <h1>MAQ Software</h1>
            <span><address>Hyderabad, India</address><time>May 2015 to July 2015</time></span>
        </header>
        <p>
              Worked in a team of six to develop an app for Microsoft excel which would help thousands of sellers in easily uploading and updating targets for sales persons for current fiscal year. The app loads data for a selected Business Metric and geography of the seller into an excel sheet where a user (based on his permissions) can either view the entries, update them or add new entries for sellers and set their targets. 
              </p>
    </article>
    <!-- <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>University of Glasgow, Glasgow, UK</address><time>2013 to 2014</time></span>
        </header>
        <p>Latine bonorum deserunt at nam. Mea nisl officiis eu, propriae similique has te, mei an brute meliore electram.
            Quo admodum omittantur ei, etiam principes at eos. Sit vocent commodo ceteros in, at mel idque everti.</p>
    </article>
    <article>
        <header>
            <h1>iOS Developer</h1>
            <span><address>Student Start-up, Glasgow, UK</address><time>2013</time></span>
        </header>
        <p>Mucius sententiae et mei, nec an diam ignota, tale epicurei intellegebat ne sit. Sumo pertinacia contentiones duo ei.</p>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span><address>Birmingham, UK</address><time>2007 to 2010</time></span>
        </header>
        <p> Et sed tritani volumus, dico rebum facilisis ea sed. His mundi efficiantur concludaturque no.
            Cu eos argumentum constituam repudiandae, eu eum lorem nostrum, ei mel dicam iriure fabellas.
        </p>
    </article> -->
</section>
